@charset "utf-8";
.header{z-index: 10;box-sizing: border-box;position: absolute;top:0;left:0;width:100%;color: #fff;
    transition:.3s all ease-out;-ms-transition:.3s all ease-out;-webkit-transition:.3s all ease-out;
}
.header .main-w{width: 83.3%;height: 100%;z-index: 5;}
.header .L{width: 20%;}
.header .R{max-width: 80%;box-sizing: border-box;line-height: 5.5vw;}
.header .logo{display: block;position: absolute;display: none;top: 0;bottom: 0;width: 20vw;}
.header .logo img{height: 3.2vw;max-height: 72px;
    position: absolute;top: 50%;left: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
.header .logow{display: block;}
.header .logoc{display: none;}

.ceng{width: 100%;height: 0;max-height:50vh;background: rgba(0,0,0,0.6);position: fixed;top: 0;left: 0;
    transition:.6s all ease-out;-ms-transition:.6s all ease-out;-webkit-transition:.6s all ease-out;
}
.MenuList_f1{ z-index: 2;line-height: 1.6;box-sizing: border-box;text-transform: capitalize;text-align: left;float: left;
    display: none;margin-right: 2.6vw;
}
.MenuList_f1 .stmenu{float: left;}
.MenuList_f1 .drop{display: block;font-size: 16px;white-space: nowrap;position: relative;}
.MenuList_f1 .drop span{display: block;line-height: 5.5vw;padding-right: 3vw;position: relative;
    transition:.3s all ease-out;-ms-transition:.3s all ease-out;-webkit-transition:.3s all ease-out;
}
.MenuList_f1 .stmenu:last-child .drop span{padding-right: 0;}
.MenuList_f1 .stmenu>h3{position: relative;border-bottom: 1px solid #81828b;}
.MenuList_f1 .child{display: none;width: 100%;z-index: 2;position: absolute;padding-top: 20px;}
.MenuList_f1 .child span{height: auto;font-size: 14px;line-height: 1.5;display: block;text-align:left;}
.MenuList_f1 .child li+li{margin-top: 10px;}
.MenuList_f1 .on>h3 .drop span{color: #ff5a24;}

.MenuList_f1 .on .cshow{display: block;}

.topnav{float: left;margin-right: 2.6vw;}
.topnav li{float: left;}
.topnav li a{line-height: 5.5vw;padding-right: 3vw;
    transition:.3s all ease-out;-ms-transition:.3s all ease-out;-webkit-transition:.3s all ease-out;
}
.topnav li:last-child a{padding-right: 0;}
.s-open .topnav{display: none;}
.header .s_ceng{position: relative;z-index:9;height: 39px;border-radius: 14px;line-height: 1.5;
    transition:.4s all ease;-ms-transition:.4s all ease;-webkit-transition:.4s all ease;box-sizing: border-box;}
.header .s_ceng input{float:left; text-indent: 1em;text-align: left; width: 0;height: 37px; line-height: 37px;
  border:none;outline: none;background: transparent;color: #fff;outline: none;position: relative; z-index: 2;
  transition:.4s all ease;-ms-transition:.4s all ease;-webkit-transition:.4s all ease;}
.header .s_ceng .s {border-radius: 5px;outline: none;float: right;height: 37px;width: 37px;box-sizing: border-box;position: relative;
   border:1px solid #fff; background:url(/images/search-w.png) center no-repeat;background-size: auto 50%;z-index: 2;
    transition:.6s all ease-out;-ms-transition:.6s all ease-out;-webkit-transition:.6s all ease-out;
}
.header .s_ceng form .s{position: absolute;right: 0;}
.header .s_ceng form{display: none;z-index: 2;display: inline-block;border-bottom: 1px solid #fff;}
.header .s_ceng form.show input{width: 10em;}
.header #s-btn.close{background-image: url(/images/colse-w.png);}

.lang {position: relative;z-index: 5;margin-left: 1.3vw;}
.lang #btnxl{border:1px solid #fff;color: #fff; border-radius: 5px;font-size: 16px;line-height: 37px;height: 37px;width: 56px;
    padding: 0 21px 0 0; display: block;position: relative;box-sizing: border-box;
    transition:.6s all ease-out;-ms-transition:.6s all ease-out;-webkit-transition:.6s all ease-out;
}
.lang #btnxl:after{content: "";display: block; width: 0;height:0;border-left:5px solid transparent;position: absolute;top: 50%;right: 4px;
    border-right: 4px solid transparent;border-top: 4px solid #fff; 
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    transition:.6s all ease-out;-ms-transition:.6s all ease-out;-webkit-transition:.6s all ease-out;
}
.lang .sllist{ display: none;overflow: hidden;position: absolute;top: 39px;left: 50%;width: 100%;overflow: hidden;
 transform: translate(-50% , 0);-ms-transform: translate(-50% , 0);-webkit-transform: translate(-50% , 0);padding: 10px 0;}
.lang .sllist li{margin-bottom: 5px;}
.lang .sllist a{border-radius: 5px;color: #fff;display: block;font-size: 14px;margin: 0 auto;
    line-height: 39px;height: 39px;width: 56px;text-align: center;background: #d65227;}

.nav_xl_a {position:relative;cursor:pointer;width: 140px;line-height: 40px; height: 40px;margin-left: 1.3vw;border-left: 1px solid #fff;
    background: url(/images/menu-w.png) right center no-repeat;padding-right: 60px;box-sizing:border-box;background-size: contain;}
.nav_xl_a .c, .nav_xl_a .o{position: absolute;top: 0;left: 1.5vw;line-height: 40px; height: 40px;
    transition:.3s all ease-out;-ms-transition:.3s all ease-out;-webkit-transition:.3s all ease-out;
}
.nav_xl_a .c{opacity: 0;top: 20px;}
.a1 {background-image: url(/images/mclose.png);}
.a1 .c{opacity: 1;top: 0;}
.a1 .o{opacity: 0;top: -20px;}

::-webkit-input-placeholder {color: inherit;font-size: inherit;}
::-moz-placeholder {color: inherit;font-size: inherit;}
:-ms-input-placeholder {color: inherit;font-size: inherit;}

.menu-open .ceng{height: 475px;}
.menu-open .topnav{display: none;}
.menu-fix, .menu-open{position: fixed;}
.menu-color .logow{display: none;}
.menu-color .logoc{display: block;}
.menu-color{color: #888;}
.menu-color .s_ceng .s, .menu-color .lang #btnxl{border-color: #a0a0a0;color: #a0a0a0;}
.menu-color .s_ceng .s{background-image: url(/images/search.png);}
.menu-color .lang #btnxl:after{border-top-color:#b2b2b2;}
.menu-color .nav_xl_a{background-image: url(/images/menu.png);border-color: #a0a0a0;}
.menu-color #s-btn.close{background-image: url(/images/colse.png);}
.menu-color .s_ceng input{color: #666;}
.menu-color  .s_ceng form{border-color: #4e4e4e;}
.footer{box-sizing: border-box;background: #d65227;position: relative;}
.footer .T{padding: 2.6vw 0 0.5vw 0;}
.footer .T:before{content: "";display: block; background:url(/images/fbg.png) left top no-repeat;background-size: contain;position: absolute;
 top: 0;left: 0;bottom: 0;width: 30vw;
}

.footer img{max-width: 100%;}
.footer .slogo{width: 20.5%;text-align: left;position: absolute;z-index: 3;top: 2.6vw;left: 8.3%;height: 17vw;width: 15vw;}
.footer .slogo img{max-width: 100%;max-height: 100%;}
.footer .R{width: 73%;text-align: left;}
.footer .ewm-f{padding-top: 2vw;border-top: 1px solid #fff;}
.footer .ewm{width: 140px;}
.footer .ewm img{max-width: 100%;width: auto;display: inline-block;}
.footer .txt{max-width: 59%;margin-right: 2%; width: 550px;}
.footer .txt ul{width: calc(100% - 170px);}
.footer .txt li{padding-left: 38px;position: relative;padding-top: 12px;}
.footer .txt li+li{margin-top: 1vw;}
.footer .txt li i{position: absolute;left: 0;top: 0;width: 28px;}
.footer .txt li i img{display: block;width: 100%;}
.footer .map a span{float: right;height: 2.5em;line-height: 2.5em;padding: 0 1.2em;background:#e5e5e5;color: #6b6b6b;border-radius: 1.5em;margin-top: 0 !important;
    transition:.3s all ease-out;-ms-transition:.3s all ease-out;-webkit-transition:.3s all ease-out;
}
.footer .map{width: 35%;}

.footer .link2 {background-color: #bd4822;padding: 10px 0;}
.footer .link2 li{margin-right: 0.8em;width: auto;display: inline-block;margin-bottom: 5px;line-height: 1.8;}

.footer .copyright{box-sizing: border-box;padding: 15px 0;}
.footer .copyright p,.copyright a{display: inline-block;}
@media screen and (min-width: 1250px){
    .MenuList_f1 .child a:hover span,.topnav li a:hover{color:#ff5a24;}
    /* .MenuList_f1 .stmenu .drop span{color: #ff5a24;} */
    .footer a:hover{color: #f6d9d1;}
    .footer .map a:hover span{background: #ff5a24;color: #fff;}
}
@media screen and (max-width: 1550px){
    .MenuList_f1{margin-right: 2vw;}
    .MenuList_f1 .drop span{padding-right: 2vw;}
}
@media screen and (max-width: 1440px){
    .header .main-w{width: 88%;}
    .MenuList_f1 .drop span{font-size: 14px;}
}
@media screen and (max-width: 1380px){
    .nav_xl_a{width: 125px;}
    
    .footer .slogo{left: 5%;}
    .footer .T:before{width: 28%;}
    .footer .main-w{width: 90%;}
}
@media screen and (max-width: 1125px){
    .topnav{display: none;}
    .header .logo img{max-height: 50px;max-width: 40vw;height: auto;}
    .header .main-w{width: 90%;}
    .header .R{line-height: 80px;}
    .header{position: fixed;width: 100%;top: 0;left: 0;z-index: 99;height: 80px;}
    .ceng{width: 45%;height: 80px;left: auto;right: 0;display: none;}
    .menu-open .ceng{height: 80px;display: block;}
    .menu-open .logoc{display: block;}
    .menu-open .logow{display: none;}

    .MenuList_f1{display: none; width: 45%;height: calc(100% - 80px);position: fixed;right: 0;top: 80px;margin-right:0;padding: 2vw 4% 0 4%;
        box-sizing: border-box;bottom: 0;overflow-y: scroll;overflow-x: hidden; background: rgba(0,0,0,0.6);z-index: 5;text-align: left;
    }
    .MenuList_f1 .child{position: static;width: 100%;padding-top: 1vw;}
    .MenuList_f1 .child li{float: left; width: 33.3%; margin-right: 0;background: none;text-align: center;box-sizing:border-box;padding: 0 2vw;}
    .MenuList_f1 .child span{padding: 10px 0;line-height: 1.5;height:auto;text-align:center;}
    .MenuList_f1 .child:after{content: "";display: block;clear: both;}
    .MenuList_f1 .child li+li{margin-top: 0;}
    .MenuList_f1 .stmenu{display: block;padding: 0;width: 100%;position: relative;margin-bottom: 2vw;}
    .MenuList_f1 .drop{padding: 0;}
    .MenuList_f1 .drop span{padding: 10px 0;position: relative;height: auto;line-height: 1.5;}
    .MenuList_f1 .fa .drop span:after{content: '';display: block;width: 7px;height: 7px;z-index: 0;
        position: absolute;right: 7px;top: 50%;
        transform: translateY(-50%) rotate(45deg);
        border-right: 2px solid #fff;
        border-top: 2px solid #fff;
        transition: 0.5s ease 0s;
    } 
    .MenuList_f1 .on .drop span{background: none;color: #ff5a24;}
    .MenuList_f1 .fa .drop span:after{border-color: #81828b;}
    .copyright{line-height: 1.5;}

    .footer .map{display: none;}
    .footer .R{width: auto;width: 65%;}
    .footer .txt{width: 100%;max-width: 100%;}
    .footer .T:before{width: 35%;}
    .footer .slogo{height: 20vw;width: 20vw;}
}
@media screen and (max-width: 800px){
    .footer .T:before,.footer .slogo{display: none;}
    .footer .R{float: none;width: 100%;}
}
@media screen and (max-width: 640px){
    .header .main-w{width: 94%;}
    .header .R{line-height: 14vw;}
    .header{height: 14vw;}
    .header .logo img{max-height: 8vw;max-width: 65vw;height: auto;}
    .MenuList_f1{top: 14vw;padding: 6vw 0;}
    .MenuList_f1 .drop{padding: 0;}
    .MenuList_f1 .drop span{font-size: 4.2vw;padding: 1vw 0;line-height: 1.8;}
    
    .menu-color{box-shadow: 0px 5px 5px rgba(0,0,0,0.1);background: rgba(255,255,255,0.9);}
    .menu-open {background: rgba(255,255,255,0.9);}
    .menu-open .ceng{display: none;}
    .menu-open .topnav{display: none;}
    .menu-fix, .menu-open{position: fixed;}

    .menu-open .logow{display: none;}
    .menu-open .logoc{display: block;}
    .menu-open{color: #b2b2b2;}
    .menu-open .s_ceng .s, .menu-open .lang #btnxl{border-color: #a0a0a0;color: #a0a0a0;}
    .menu-open .s_ceng .s{background-image: url(/images/search.png);}
    .menu-open .lang #btnxl:after{border-top-color:#b2b2b2;}
    .menu-open .nav_xl_a{background-image: url(/images/menu.png);}
    .menu-open .a1{background-image: url(/images/mclose.png);}
    .menu-open #s-btn.close{background-image: url(/images/colse.png);}


    .nav_xl_a{width: 8vw;height: 6.6vw;padding: 0;border:none;}
    .nav_xl_a .c, .nav_xl_a .o{display: none;}

    .lang #btnxl{width: 14vw;height: 6.6vw;line-height: 6.6vw;font-size: 3.8vw;}
    .header .s_ceng{height: 6.6vw;}
    .header .s_ceng #s-btn{width: 8vw;height: 6.6vw;background-size: auto 67%;background-color: transparent;}
    .header .s_ceng .s{border-radius: 1vw; height: 100%;width: 8vw;    background-size: auto 37%;}
    .header .s_ceng .s.mob{width: 12vw;border:none;}
    .header .s_ceng input{color: #7f7f84;height: 12vw;line-height: 12vw;width: 82vw;text-indent: 0;background: #eeeeee;text-align: left;}
    .header .s_ceng form{display: none;height: 12vw;position: fixed;top: 14.6vw;width: 100vw;background: #eeeeee;left: 0;padding: 0 4%;border-bottom: 1px solid #dcdcdc;box-sizing: border-box;}
    .header .s_ceng form.show{display: block;}

    .MenuList_f1{top: 14vw;padding: 2vw 5% 0 5%;width: 100%;height: calc(100% - 14.6vw);background: rgba(255,255,255,0.9);color: #666;}
    .MenuList_f1 .drop span{font-size: 4vw;padding: 2.5vw 0;}
    .MenuList_f1 .child span{font-size: 3.8vw;padding: 2vw 3vw;}
    .MenuList_f1.hide .stmenu{
        -webkit-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
        -o-transform: translateX(-100px);
        transform: translateX(-100px);
        opacity: 0;
    }
    .MenuList_f1.hide .stmenu:nth-child(2n+1) {
        -webkit-transform: translateX(100px);
        -ms-transform: translateX(100px);
        -o-transform: translateX(100px);
        transform: translateX(100px);
    }

    .footer{background:#313131;}
    .footer .main-w{width: 100%;}
    .footer .T{padding: 0;}
    .footer .txt{background: url(../images/sfbg.png) center top no-repeat;width: 100%;margin: 0;text-align:center;
        background-size: 100% 100%;padding: 7vw 12vw 12vw 12vw;box-sizing: border-box;}
    .footer .txt ul{width: 100%;text-align: left;}
    .footer .txt li i{width: 1.5em;}
    .footer .txt li{padding-left: 2.2em;padding-top: 0.3em;}
    .footer .ewm-f{border: none;}
    .footer .copyright{padding: 6vw 5%;}
    .footer .link2{padding: 3vw 0 6vw 0; background:none;border-bottom: 1px solid #a0a0a0;width: 90%;margin-left: auto;margin-right:auto;}
    .footer .link2 img{width: 1.5em;}
    .f-14, .fm-24{font-size: 12px;}
}